.title img {
    width: 80px;
    background-color: #FFFFFF;
    border-radius: 30px;

}

.header {
    height: 80px;
    display: flex;
    box-shadow: 5px 10px 18px #888484;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}


.header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 30px;
    margin-left: 36px;
}

.header a:hover {
    color: black;
    background-color: #FFFFFF;
    border-radius: 5px;
}